.a-color {
  color: #8534c4!important;
}
.a-color:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.chart-div:focus{
  outline: none !important;
}
.bg-forum {
  background-color: #bc55dc;
  border-color: #7a2a92;
}
.bg-sms {
  background-color: #34b7b7 !important;
}
.years:hover {
  color: #9834b7  !important;
}
