<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <span class="pt-1 pb-1">Settings</span>
      </div>
      <div class="card-body">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12">

              <no-result *ngIf="tableData && tableData['message']"></no-result>

              <table *ngIf="tableData && !tableData['message']" class="table table-bordered table-striped table-sm indexTable" style="border-collapse: collapse !important">
                <thead>
                <tr role="row">
                  <th>Name</th>
                  <th>Config</th>
                  <th>Description</th>
                  <th style="width: 65px">Status</th>
                  <th style="width: 90px">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" class="odd" *ngFor="let data of tableData, let i = index">
                  <td> {{data?.title_key}}</td>
                  <td> {{data?.title_value}}</td>
                  <td> {{data?.description}}</td>
                  <td>
                    <span *ngIf="data?.status == 1" class="badge badge-success">Active</span>
                    <span *ngIf="data?.status == 0" class="badge badge-secondary">In active</span>
                  </td>


                  <td class="actions">
                    <a (click)="showModal('view' , data.key)">
                      <i class="fa fa-eye cursor-pointer"></i>
                    </a>
                    <a (click)="showModal('edit', data.key)">
                      <i class="fa fa-pencil cursor-pointer"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>

              <pagination
                *ngIf="requestService.paginationConfig.totalItems > requestService.paginationConfig.perPage"
                [totalItems]="requestService.paginationConfig.totalItems"
                [maxSize]="requestService.paginationConfig.paginationMaxSize"
                [itemsPerPage]="requestService.paginationConfig.perPage"
                (pageChanged)="pageChanged($event)">
              </pagination>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #childModal="bs-modal" [config]="{ ignoreBackdropClick: true }" (onHidden)="onHidden()" class="modal fade"
     tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog" [ngClass]="requestType === 'delete' ? 'gray modal-sm' : requestType === 'view'  ? 'gray modal-lg' : 'gray modal-lg'">
    <div class="modal-content">
      <div class="modal-header" *ngIf="requestType != 'delete'">
        <h4 class="modal-title pull-left" *ngIf="requestType == 'add'">Create Settings</h4>
        <h4 class="modal-title pull-left" *ngIf="requestType == 'view'">View Settings</h4>
        <h4 class="modal-title pull-left" *ngIf="requestType == 'edit'">Edit Settings</h4>
        <h4 class="modal-title pull-left" *ngIf="requestType == 'police'">Police Phone</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="requestType == 'view'">
        <div class="column-size" *ngIf="viewData">
          <p><b>Config description:</b> {{viewData?.description}}</p>
          <p><b>Config value:</b> {{viewData?.title_value}}</p>
          <p><b>Config key:</b> {{viewData?.title_key}}</p>
          <p><b>Status:</b> {{viewData?.status ? 'Active': 'Inactive'}}</p>
        </div>
        <button type="button" class="btn btn-secondary float-right mr-2" (click)="hideChildModal()">Close</button>
      </div>

      <div class="modal-body" *ngIf="requestType == 'add' || requestType == 'edit'">
        <form [formGroup]="modalForm">



          <div class="row">

            <div class="col-12">
              <div class="form-group mb-4">
                <label for="value">{{id == 'default_support_language' ? 'Language' : 'Help message'}} <strong class="text-danger">*</strong></label>
                <select [formControlName]="'value'" type="text" class="form-control" id="value">
                  <option selected disabled hidden value="null">{{id == 'default_support_language' ? 'Language' : 'Help message'}}</option>
                  <option *ngFor="let item of languageList" value="{{item.id}}">{{item.value}}</option>
                </select>

                <div class="invalid-message"
                     *ngIf="modalForm.get('value').hasError('required') && (modalForm.get('value').dirty || modalForm.get('value').touched)">
                  Please enter your {{id == 'default_support_language' ? 'Language' : 'Help message'}}.
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group mb-4">
                <label for="description">Description <strong class="text-danger">*</strong></label>

                <textarea [formControlName]="'description'" id="description" placeholder="Description"
                          class="form-control">

                </textarea>

                <div class="invalid-message"
                     *ngIf="modalForm.get('description').hasError('required') && (modalForm.get('description').dirty || modalForm.get('description').touched)">
                  Please enter your Description
                </div>

                <div class="invalid-message"
                     *ngIf="modalForm.get('description').hasError('minlength') && (modalForm.get('description').dirty || modalForm.get('description').touched)">
                  The Description minimum 1 symbol.
                </div>
              </div>
            </div>

          </div>

          <button class="btn btn-success float-right" [disabled]="modalForm.invalid"
                  (click)="formSubmit(modalForm.value)">Save
          </button>
          <button type="button" class="btn btn-secondary float-right mr-2" (click)="hideChildModal()">Close</button>

        </form>
      </div>

      <div class="modal-body" *ngIf="requestType == 'police'">
        <form [formGroup]="policeForm">



          <div class="row">

            <div class="col-12">
              <div class="form-group mb-4">
                <label for="tel">Police phone Number <strong class="text-danger">*</strong></label>
                <input [formControlName]="'value'" type="tel" id="tel" [placeholder]="requestService.activeCountryCode == 'arm' ? '+37493010203' : '+995511010203'"
                          class="form-control">


                <div class="invalid-message"
                     *ngIf="policeForm.get('value').hasError('required') && (policeForm.get('value').dirty || policeForm.get('value').touched)">
                  Please enter your {{id == 'default_support_language' ? 'Language' : 'Help message'}}.
                </div>
                <div class="invalid-message"
                     *ngIf="policeForm.get('value').hasError('pattern') && (policeForm.get('value').dirty || policeForm.get('value').touched)">
                  The phone number is invalid.
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group mb-4">
                <label for="description">Description <strong class="text-danger">*</strong></label>

                <textarea [formControlName]="'description'" id="description" placeholder="Description"
                          class="form-control">

                </textarea>

                <div class="invalid-message"
                     *ngIf="policeForm.get('description').hasError('required') && (policeForm.get('description').dirty || policeForm.get('description').touched)">
                  Please enter your Description
                </div>

                <div class="invalid-message"
                     *ngIf="policeForm.get('description').hasError('minlength') && (policeForm.get('description').dirty || policeForm.get('description').touched)">
                  The Description minimum 1 symbol.
                </div>
              </div>
            </div>

          </div>

          <div class="form-group">
          <p class="mb-2">Status</p>
          <label class="switch switch-label switch-outline-primary-alt">
          <input formControlName="status" class="switch-input" type="checkbox" checked="">
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          </div>

          <button class="btn btn-success float-right" [disabled]="policeForm.invalid"
                  (click)="formSubmit(policeForm.value)">Save
          </button>
          <button type="button" class="btn btn-secondary float-right mr-2" (click)="hideChildModal()">Close</button>

        </form>
      </div>

      <div class="modal-body" *ngIf="requestType == 'delete'">
        <p class="deletetext">Are you sure to delete this item?</p>
        <div class="deletebutton">
          <button class="btn btn-danger mr-1" (click)="delete()">Yes</button>
          <button class="btn btn-primary ml-1" (click)="childModal.hide()">No</button>
        </div>
      </div>

    </div>
  </div>
</div>
