<div #sidebar class="menu-block bg-image " [@showMenu]="!showMenu  ? 'closed' : 'open'">
  <div class="logo-block">
    <img class="cursor-pointer" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/dashboard" src="assets/images/img/safeyou-logo.png" alt="logo">
  </div>
  <div class="sidebar-menu-block">
    <div #sidebarNav class="sidebar-nav ps">
      <ul class="my-nav" #menu>
        <li *ngIf="access?.dashboard || is_admin == true"
            class="border-bottom-item" [@openClose]="isOpen != 0  ? 'closed' : 'open'">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/dashboard">
            <span class="images">
              <img src="assets/images/icons/icon-dashboard.png" class="icon" alt="image">
              <img src="assets/images/icons/icon-dashboard(HoverState).png" class="hover-image" alt="image">
            </span>
            <span class="menu-text">{{helperService.translation?.dashboard}}</span>
          </a>
        </li>
        <li *ngIf="access?.forum || is_admin == true" [@openClose]="isOpen != 0  ? 'closed' : 'open'">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/forum">
            <span class="images">
                <img src="assets/images/icons/icon-forum.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-forum(HoverState).png" class="hover-image" alt="image">
            </span>
            <span class="menu-text">{{helperService.translation?.forums}}</span>
          </a>
        </li>
        <li *ngIf="access?.podcasts || is_admin == true" [@openClose]="isOpen != 0  ? 'closed' : 'open'">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/podcast">
            <img src="assets/images/icons/icon-microphone.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-microphone(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.podcasts}}</span>
          </a>
        </li>
        <li [@openClose]="isOpen != 0  ? 'closed' : 'open'"
            [ngClass]="is_admin == true && this.role != 'Emergency' ? 'border-bottom-item' : ''"
        >
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/communication">
            <img src="assets/images/icons/icon-messages.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-messages(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.communication}}</span>
          </a>
        </li>
        <li *ngIf="access?.beneficiaries || is_admin == true && this.role == 'Emergency'" [@openClose]="isOpen != 0  ? 'closed' : 'open'">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/beneficiary">
            <img src="assets/images/icons/icon-pin.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-pin(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.beneficiary}}</span>
          </a>
        </li>
        <li *ngIf="this.role != 'Emergency' && this.role != 'Consultant'"
            class="border-bottom-item parent-menu position-relative" #it [@openClose]="isOpen == 2 ? 'parents-closed' : 'parents-open'">
          <a class="link link-arrow" (click)="subMenu(sidebar, 1, it)">
            <img src="assets/images/icons/icon-profile.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-profile(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.users}}</span>
          </a>
          <ul [@openClose]="isOpen == 1 ? 'open' : 'closed'" class="sub-menu" #submenu>
            <li *ngIf="access?.user || is_admin == true" [@openClose]="isOpen == 1 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/users">
                <img src="assets/images/icons/icon-app-user.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-app-user(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.app_users}}</span>
              </a>
            </li>
            <li *ngIf="access?.emergency_service || is_admin == true" [@openClose]="isOpen == 1 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/organizations">
                <img src="assets/images/icons/icon-ngo.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-ngo(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.organizations}}</span>
              </a>
            </li>
            <li *ngIf="access?.consultant || is_admin == true" [@openClose]="isOpen == 1 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/consultants">
                <img src="assets/images/icons/icon-consultant.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-consultant(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.consultants}}</span>
              </a>
            </li>
            <li *ngIf="access?.beneficiaries || is_admin == true" [@openClose]="isOpen == 1 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/beneficiary">
                <img src="assets/images/icons/icon-pin.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-pin(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.beneficiary}}</span>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="access?.report.indexOf('view') != -1 || access?.report.indexOf('index') != -1 || is_admin == true" [@openClose]="isOpen != 0  ? 'closed' : 'open'">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/reports">
            <img src="assets/images/icons/icon-exclamation.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-exclamation(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.reports}}</span>
          </a>
        </li>
        <li *ngIf="access?.sms || is_admin == true" class="border-bottom-item" [@openClose]="isOpen != 0  ? 'closed' : 'open'">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/sms">
            <img src="assets/images/icons/icon-sms.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-sms(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.sms_menu}}</span>
          </a>
        </li>
        <li *ngIf="access?.surveys || is_admin == true" [@openClose]="isOpen != 0  ? 'closed' : 'open'">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/open_surveys">
            <img src="assets/images/icons/icon-survay.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-survay(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.open_surveys}}</span>
          </a>
        </li>
        <li *ngIf="access?.push_notifications || access?.about_us || access?.languages || access?.police_data
          || access?.help_message || access?.setting || access?.translations || access?.privacy_policy ||
           access?.terms_conditions_consultant || access?.terms_conditions ||  is_admin == true"
            class="parent-menu parent-menu position-relative" #it1 [@openClose]="isOpen == 1 ? 'parents-closed' : 'parents-open'">
          <a class="link link-arrow" (click)="subMenu(sidebar, 2, it1)">
            <img src="assets/images/icons/icon-app-settings.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-app-settings(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.app_settings}}</span>
          </a>
          <ul [@openClose]="isOpen == 2 ? 'open' : 'closed'" class="sub-menu" #submenu1>
            <li *ngIf="access?.push_notifications  || is_admin == true" [@openClose]="isOpen == 2 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/push-notification">
                <img src="assets/images/icons/icon-app-user.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-app-user(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.push_notifications}}</span>
              </a>
            </li>
            <li *ngIf="access?.about_us || is_admin == true" [@openClose]="isOpen == 2 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/about-us">
                <img src="assets/images/icons/icon-exclamation.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-exclamation(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.about_us}}</span>
              </a>
            </li>
            <li *ngIf="access?.languages  || is_admin == true" [@openClose]="isOpen == 2 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/language">
                <img src="assets/images/icons/icon-language.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-language(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.languages}}</span>
              </a>
            </li>
            <li *ngIf="access?.police_data  || is_admin == true" [@openClose]="isOpen == 2 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/police-data">
                <img src="assets/images/icons/icon-police.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-police(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.police_data}}</span>
              </a>
            </li>
            <li *ngIf="access?.help_message  || is_admin == true" [@openClose]="isOpen == 2 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/help-messages">
                <img src="assets/images/icons/icon-sms.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-sms(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.help_message}}</span>
              </a>
            </li>
            <li *ngIf="access?.setting  || is_admin == true" [@openClose]="isOpen == 2 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/settings">
                <img src="assets/images/icons/icon-settings.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-settings(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.settings}}</span>
              </a>
            </li>
            <li *ngIf="access?.translations || is_admin == true" [@openClose]="isOpen == 2 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/translations">
                <img src="assets/images/icons/icon-language.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-language(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.translations}}</span>
              </a>
            </li>
            <li *ngIf="access?.privacy_policy  || is_admin == true" [@openClose]="isOpen == 2 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/privacy-policy">
                <img src="assets/images/icons/icon-legal.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-legal(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.privacy_policy}}</span>
              </a>
            </li>
            <li *ngIf="access?.terms_conditions_consultant   || is_admin == true" [@openClose]="isOpen == 2 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/terms-of-consultation">
                <img src="assets/images/icons/icon-legal.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-legal(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.terms_of_consultation}}</span>
              </a>
            </li>
            <li *ngIf="access?.terms_conditions  || is_admin == true" [@openClose]="isOpen == 2 ? 'open' : 'closed'">
              <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/terms-and-conditions">
                <img src="assets/images/icons/icon-legal.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-legal(HoverState).png" class="hover-image" alt="image">
                <span class="menu-text">{{helperService.translation?.terms_and_conditions}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-toggle-block">
    <div class="sidebar-toggle-image-block" (click)="toggleMenu(sidebar, sidebarNav)">
      <img class="arrow-back-image" src="assets/images/icons/icon-arrow-back.png" alt="image">
      <img class="arrow-back-hover-image" src="assets/images/icons/icon-arrow-back(HoverState).png" alt="image">
    </div>
  </div>
</div>


<div class="menu-block bg-image" [@showMenu]="showMenu  ? 'closed' : 'open'">
  <div class="logo-block">
    <a (click)="showMenu = !showMenu" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/dashboard"><img src="assets/images/img/safeyou-logo.png" alt="logo"></a>
  </div>
  <div class="sidebar-menu-block">
    <div class="sidebar-nav ps">
      <ul class="my-nav">
        <li>
          <a class="link" (click)="showMenu = !showMenu" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/dashboard">
            <span class="images">
                <img src="assets/images/icons/icon-arrow-back.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-arrow-back(HoverState).png" class="hover-image" alt="image">
            </span>
            <span class="menu-text back-to-test-style">{{helperService.translation?.back_dashboard}}</span>
          </a>
        </li>
        <li>
          <a class="link border-bottom-item">
            <img src="assets/images/icons/icon-settings.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-settings(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text settings-style">{{helperService.translation?.settings}}</span>
          </a>
        </li>
        <li *ngIf="access?.profile || is_admin == true">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/settings/user-settings">
            <img src="assets/images/icons/icon-profile.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-profile(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.account}}</span>
          </a>
        </li>
        <li *ngIf="access?.languages  || is_admin == true">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/settings/languages">
            <img src="assets/images/icons/icon-language.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-language(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.languages}}</span>
          </a>
        </li>
        <li *ngIf="access?.admin || is_admin == true">
          <a class="link" routerLinkActive="active-link" routerLink="{{country}}/{{this.helperService.defaultLanguage}}/settings/roles">
            <img src="assets/images/icons/icon-profile.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-profile(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.roles_competencies}}</span>
          </a>
        </li>
        <li>
          <a class="link" routerLinkActive="active-link" routerLink="{{country}}/{{this.helperService.defaultLanguage}}/settings/notifications">
            <img src="assets/images/icons/icon-notification-settings.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-notification-settings(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.notifications}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

