<div #sidebar class="menu-block bg-image " [@showMenu]="!showMenu  ? 'closed' : 'open'">
  <div class="logo-block">
    <img class="cursor-pointer" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/dashboard" src="assets/images/img/safeyou-logo.png" alt="logo">
  </div>
    <div class="sidebar-menu-block">
      <div #sidebarNav class="sidebar-nav ps">
        <ul class="my-nav" #menu>
          <li *ngIf="access?.dashboard || is_admin == true"
              class="border-bottom-item" [@openClose]="isOpen != 0  ? 'closed' : 'open'">
            <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/dashboard">
            <span class="images">
              <img src="assets/images/icons/icon-dashboard.png" class="icon" alt="image">
              <img src="assets/images/icons/icon-dashboard(HoverState).png" class="hover-image" alt="image">
            </span>
              <span class="menu-text">{{helperService.translation?.dashboard}}</span>
            </a>
          </li>
          <li *ngIf="access?.forum || is_admin == true" [@openClose]="isOpen != 0  ? 'closed' : 'open'">
            <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/forum">
            <span class="images">
                <img src="assets/images/icons/icon-forum.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-forum(HoverState).png" class="hover-image" alt="image">
            </span>
              <span class="menu-text">{{helperService.translation?.forums}}</span>
            </a>
          </li>
          <li *ngIf="access?.podcasts || is_admin == true" [@openClose]="isOpen != 0  ? 'closed' : 'open'">
            <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/podcast">
              <img src="assets/images/icons/icon-microphone.png" class="icon" alt="image">
              <img src="assets/images/icons/icon-microphone(HoverState).png" class="hover-image" alt="image">
              <span class="menu-text">{{helperService.translation?.podcasts}}</span>
            </a>
          </li>
          <li [@openClose]="isOpen != 0  ? 'closed' : 'open'"
              [ngClass]="is_admin == true && this.role != 'Emergency' ? 'border-bottom-item' : ''"
          >
            <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/communication">
              <img src="assets/images/icons/icon-messages.png" class="icon" alt="image">
              <img src="assets/images/icons/icon-messages(HoverState).png" class="hover-image" alt="image">
              <span class="menu-text">{{helperService.translation?.communication}}</span>
            </a>
          </li>
          <li *ngIf="this.role != 'Emergency' && this.role != 'Consultant'"
              class="border-bottom-item parent-menu position-relative" #it [@openClose]="isOpen == 2 ? 'parents-closed' : 'parents-open'">
            <a class="link link-arrow" (click)="subMenu(sidebar, 1, it)">
              <img src="assets/images/icons/icon-profile.png" class="icon" alt="image">
              <img src="assets/images/icons/icon-profile(HoverState).png" class="hover-image" alt="image">
              <span class="menu-text">{{helperService.translation?.users}}</span>
            </a>
            <ul [@openClose]="isOpen == 1 ? 'open' : 'closed'" class="sub-menu" #submenu>
              <li *ngIf="access?.user || is_admin == true" [@openClose]="isOpen == 1 ? 'open' : 'closed'">
                <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/users">
                  <img src="assets/images/icons/icon-app-user.png" class="icon" alt="image">
                  <img src="assets/images/icons/icon-app-user(HoverState).png" class="hover-image" alt="image">
                  <span class="menu-text">{{helperService.translation?.app_users}}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  <div class="sidebar-toggle-block">
    <div class="sidebar-toggle-image-block" (click)="toggleMenu(sidebar, sidebarNav)">
      <img class="arrow-back-image" src="assets/images/icons/icon-arrow-back.png" alt="image">
      <img class="arrow-back-hover-image" src="assets/images/icons/icon-arrow-back(HoverState).png" alt="image">
    </div>
  </div>
</div>


<div class="menu-block bg-image" [@showMenu]="showMenu  ? 'closed' : 'open'">
  <div class="logo-block">
    <a (click)="showMenu = !showMenu" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/dashboard"><img src="assets/images/img/safeyou-logo.png" alt="logo"></a>
  </div>
  <div class="sidebar-menu-block">
    <div class="sidebar-nav ps">
      <ul class="my-nav">
        <li>
          <a class="link" (click)="showMenu = !showMenu" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/dashboard">
            <span class="images">
                <img src="assets/images/icons/icon-arrow-back.png" class="icon" alt="image">
                <img src="assets/images/icons/icon-arrow-back(HoverState).png" class="hover-image" alt="image">
            </span>
            <span class="menu-text back-to-test-style">{{helperService.translation?.back_dashboard}}</span>
          </a>
        </li>
        <li>
          <a class="link border-bottom-item">
            <img src="assets/images/icons/icon-settings.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-settings(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text settings-style">{{helperService.translation?.settings}}</span>
          </a>
        </li>
        <li *ngIf="access?.profile || is_admin == true">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/settings/user-settings">
            <img src="assets/images/icons/icon-profile.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-profile(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.account}}</span>
          </a>
        </li>
        <li *ngIf="access?.languages  || is_admin == true">
          <a class="link" routerLinkActive="active-link" routerLink="/{{country}}/{{this.helperService.defaultLanguage}}/settings/languages">
            <img src="assets/images/icons/icon-language.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-language(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.languages}}</span>
          </a>
        </li>
        <li *ngIf="access?.admin || is_admin == true">
          <a class="link" routerLinkActive="active-link" routerLink="{{country}}/{{this.helperService.defaultLanguage}}/settings/roles">
            <img src="assets/images/icons/icon-profile.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-profile(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.roles_competencies}}</span>
          </a>
        </li>
        <li>
          <a class="link" routerLinkActive="active-link" routerLink="{{country}}/{{this.helperService.defaultLanguage}}/settings/notifications">
            <img src="assets/images/icons/icon-notification-settings.png" class="icon" alt="image">
            <img src="assets/images/icons/icon-notification-settings(HoverState).png" class="hover-image" alt="image">
            <span class="menu-text">{{helperService.translation?.notifications}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

