@import "../../../../../../assets/css/admin-table.css";

.content {
  padding: 0 22px;
}
.head {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title h4{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.64px;
  color: #230D2C;
}
.title h4 img {
  margin-right: 16px;
}
.category-button {
  padding: 9px 16px;
  background: var(--unnamed-color-fbeff2) 0% 0% no-repeat padding-box;
  border-radius: 16px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  letter-spacing: var(--unnamed-character-spacing-0-78);
  color: #E37D93;
  text-align: center;
  font-size: 13px;
  margin-right: 4px;
}
.category-button:hover, .create-post:hover {
  background-color: #F8DEE4;
}
.saveandpublish {
  background: #E37D93;
  color: #FEFBFC;
}
.saveandpublish:hover {
  background: #DC5D78;
}

.head-save-button:hover {
  background: #DC5D78 0% 0% no-repeat padding-box;
}
.content-body {
  margin: 16px 0;
}

.drag-and-drop {
  max-width: 144px;
  width: 144px;
  height: 144px;
  border: 2px solid #E37D93;
  box-shadow: 4px 4px 10px #230D2C0D;
  border-radius: 12px;
  padding: 5px;
  background: #FBEBEF;
  position: relative;
}

.drag-and-drop-container {
  max-width: 130px;
  height: 130px;
  padding: 34px 8px 16px 8px;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='%23EA9DAEFF' stroke-width='4' stroke-dasharray='9%2c 14' stroke-dashoffset='7' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 7px;
}

.drag-and-drop-container input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 141px;
  height: 141px;
  top: 0;
  left: 0;
}

.drag-and-drop-container label {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-hayroboto);
  text-align: center;
  letter-spacing: 0.26px;
  color: #A79EAA;
}

.drag-and-drop-container h3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-hayroboto);
  text-align: center;
  letter-spacing: 0.26px;
  color: #E37D93;
  margin: 0;
}

.btn-upload {
  width: 40px;
  height: 40px;
}

.drag-and-drop-info {
  background-image: url("../../../../../../assets/images/icons/icon-info.png");
  width: 12px;
  height: 12px;
  background-size: contain;
  float: right;
  position: relative;
  top: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
}

.drag-and-drop-info:hover {
  background-image: url("../../../../../../assets/images/icons/icon-info-hover.png");
}

::ng-deep .user_editor .ck.ck-reset_all, .ck.ck-reset_all * {
  width: 856px;
}

::ng-deep .user_editor .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  width: 856px;
  height: 168px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background: transparent;
  border: 1px solid #F8DEE4;
}

::ng-deep .user_editor .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: transparent;
  border: 1px solid #F8DEE4;
}

.data-form label {
  font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.26px;
  color: #A79EAA;
  font-size: 12px;
  margin-left: 8px;
}

.data-form input[type='text'], .data-form input[type='password'] {
  width: 224px;
  height: 32px;
  border: 1px solid #F8DEE4;
  border-radius: 30px;
  background-color: transparent;
}

.data-form select {
  height: 32px;
  border: 1px solid var(--unnamed-color-f8dee4);
  border-radius: 30px;
  padding: 0px .75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../../../../../../assets/images/icons/icon-arrow-down.png");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 7px;
  background-size: 18px 17px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-hayroboto);
  letter-spacing: var(--unnamed-character-spacing-0-29);
  color: var(--unnamed-color-230d2c);
}

.data-form input[type='text']:focus, .data-form select:focus {
  box-shadow: none;
}

.data-form .form-check label {
  margin-left: 185px;
  position: relative;
  top: -2px;
}

.data-form .form-check input {
  margin-left: 166px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-hayroboto);
  letter-spacing: var(--unnamed-character-spacing-0-29);
  color: var(--unnamed-color-230d2c);
}

::ng-deep .card-header {
  height: 40px;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #fbedf0;
  border-radius: 16px !important;
}

::ng-deep .panel-body {
  padding: 24px 56px 24px 24px;
}

::ng-deep .card {
  border-radius: 16px;
  border: none
}

.accordion {
  border-radius: 16px;
}

accordion-group {
  margin-bottom: 16px;
  box-shadow: 4px 4px 20px #230D2C1A;
  border-radius: 16px;
}

::ng-deep .panel-heading {
  padding: 7px 7px 7px 16px;
}

::ng-deep .accordionhead {
  text-decoration: none;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.29px;
  color: #230D2C;
  width: 100%;
  display: inline-block;
}

::ng-deep .accordion-toggle button:hover {
  text-decoration: none;
  color: #230D2C;
}

::ng-deep .accordion-toggle button:focus {
  text-decoration: none;
}

.reverse {
  transform: rotate(180deg);
  transition: 0.5s;
}

::ng-deep .panel-collapse.collapse.in.show {
  background: #FEFBFC 0% 0% no-repeat padding-box;
}
::ng-deep accordion-group.panel-open .card-header{
  border-radius: 16px 16px 0 0!important;
}

::ng-deep .panel-heading.card-header.panel-enabled {
  background: #FEFBFC 0% 0% no-repeat padding-box;
}

::ng-deep .ck.ck-editor__editable_inline::-webkit-scrollbar {
  width: 2px;
  top: 2px;
}
::ng-deep .ck.ck-editor__editable_inline::-webkit-scrollbar-thumb {
  background-color: #e37d93;
  border-radius: 20px;
}
.image-block {
  width: 144px;
  height: 141px;
  bottom: 24px;
  right: 19px;
  position: relative;
}
.user-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
}
.user-edit-icon {
  position: absolute;
  right: 0;
  top: 0;
}
::ng-deep .admin_role .selected-list .c-btn {
  width: 102%;
}
