.content {
  height: 100vh;
  width: 398px;
  box-shadow: 23px 0px 50px 1px #aaaaaa;
}
.filter-block-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.head-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.64px;
  color: #230D2C;
  margin: 0;
}
.close-button-btn {
  color: #E37D93;
}
.content-head {
  padding: 11px 24px;
  border-bottom: 1px solid #F8DEE4;
}
.content-body {
  padding: 0 24px;
  height: calc(100vh - 95px);
  overflow-y: auto;
}
.content-scroll {
  max-height: 288px;
  overflow-y: auto;
}
.content-scroll::-webkit-scrollbar {
  width: 2px;
}
.content-scroll::-webkit-scrollbar-track {
  background-color: #F1BEC9;
}
.content-body::-webkit-scrollbar {
  width: 2px;
}
.content-body::-webkit-scrollbar-track {
  background-color: #F1BEC9;
}
*::-webkit-scrollbar-thumb {
  background: #fff;
  height: 10px;
}
.categories-block {
  border-bottom: 1px solid #F8DEE4;
  display: inline-block;
  width: 100%;
  padding: 16px 0px;
}
.categories-block:last-child {
  border: none;
}
.category-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.64px;
  color: #230D2C;
  margin-bottom: 0;
}
.filter-list {
  list-style: none;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 0;
}
.filter-list > li {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.36px;
  color: #000000;
}
.all-categories-button {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.26px;
  color: #E37D93;
  cursor: pointer;
}
.age-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}
.age-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.36px;
  color: #000000;
}
.content-footer {
  padding: 7px 24px;
  border-top: 1px solid #F8DEE4;
}
.clear-all-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.26px;
  color: #E37D93;
  transition: color 0.4s;
}
.clear-all-text:hover {
  color: #EA9DAE;
}
.footer-action-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-button {
  padding: 6.5px 16px;
  font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  text-align: center;
  letter-spacing: 0.78px;
  color: #FEFBFC;
  font-size: 13px;
  margin-right: 4px;
  background: #E37D93 0% 0% no-repeat padding-box;
  border-radius: 16px;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}
.footer-button:hover {
  background: #DC5D78 0% 0% no-repeat padding-box;
}
/*checkbox css*/
.checkbox-item {
  display: inline-block;
  position: relative;
}
.checkbox-item > span {
  margin-left: 8px;
}
.checkbox-item input[type='checkbox'], .checkbox-item input[type='radio'] {
  display: none;
}

.checkbox-item label {
  color: #666;
  font-weight: normal;
  vertical-align: top;
}

.checkbox-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 3px;
  width: 12px;
  height: 12px;
  border: 2px solid #E37D93;
  background-color: transparent;
  vertical-align: top;
}

.checkbox-item input[type=checkbox]:checked + label:after, .checkbox-item input[type='radio']:checked + label:after {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 6px;
  left: 3px;
  content: " ";
  display: block;
  background: #E37D93;
}
.hover-state span.all-categories-button {
  opacity: 0;
  transition: opacity 0.6s;
  white-space: nowrap;
}
.hover-state span.to-down {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 4px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.26px;
  color: #E37D93;
  white-space: nowrap;
  cursor: pointer;
  color: #E37D93;
  transition: top 0.6s, opacity 0.6s;
}
.hover-state:hover span.to-down{
  top: 35px;
  opacity: 0;
}
.hover-state:hover span.all-categories-button {
  opacity: 1;
}
/*switch css*/
.switch {
  --line: #e8ebfb;
  --dot: #275efe;
  --circle: #d3d4ec;
  --background: #fff;
  --duration: 0.6s;
  --text: #9ea0be;
  --shadow: 0 1px 3px rgba(0, 9, 61, .08);
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}
.switch:before {
  content: '';
  width: 60px;
  height: 32px;
  border-radius: 16px;
  position: absolute;
  left: 0;
  top: 0;
}
.switch input {
  display: none;
}
.switch input + div {
  position: relative;
  /* top: 4px; */
}
.switch input + div:before, .switch input + div:after {
  --s: 1;
  content: '';
  position: absolute;
  height: 2px;
  top: 10px;
  width: 9px;
  background: #E37D93;
  transform: scaleX(var(--s));
  /*transition: transform var(--duration) ease;*/
}
.switch input + div:before {
  --s: 0;
  transform-origin: 0 50%;
  border-radius: 2px 0 0 2px;
}
.switch input + div:after {
  left: 21px;
  transform-origin: 100% 50%;
  border-radius: 0 2px 2px 0;
}
.switch input + div span {
  padding-left: 36px;
  line-height: 28px;
  color: var(--text);
}
.switch input + div span:before {
  --x: 7px;
  --b: #DC5D78;
  --s: 2.5px;
  content: '';
  position: absolute;
  left: -2px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--s) var(--b);
  transform: translateX(var(--x));
  transition: box-shadow var(--duration) ease, transform 0.4s ease;
}
.switch input + div span:not(:empty) {
  padding-left: 68px;
}
.switch input:checked + div:before {
  --s: 1;
  margin-left: 7px;
}
.switch input:checked + div:after {
  --s: 0;
}
.switch input:checked + div span:before {
  --x: 22px;
  --s: 12px;
  --b: #DC5D78;
}
