<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <span class="pt-1 pb-1">Languages</span>
      </div>
      <div class="card-body">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12">

              <no-result *ngIf="tableData && tableData['message']"></no-result>

              <table *ngIf="tableData && !tableData['message']"
                     class="table table-bordered table-striped table-sm indexTable"
                     style="border-collapse: collapse !important">
                <thead>
                <tr role="row">
                  <th style="width: 150px;">Title</th>
                  <th style="width: 150px;">Code</th>
                  <th>Image</th>
                  <th style="width: 65px;">Status</th>
                  <th style="width: 90px;">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" class="odd" *ngFor="let data of tableData, let i = index">
                  <td>{{data?.title}}</td>
                  <td>{{data?.code}}</td>
                  <td><img src="{{data?.image?.url}}" style="max-width: 65px; max-height: 40px;" alt="no image"></td>
                  <td>
                    <span *ngIf="data?.status == 1" class="badge badge-success">Active</span>
                    <span *ngIf="data?.status == 0" class="badge badge-secondary">Inactive</span>
                  </td>
                  <td class="actions">
                    <a (click)="openModalWithClass('view', data.id)">
                      <i class="fa fa-eye cursor-pointer"></i>
                    </a>
                    <a (click)="openModalWithClass('edit', data.id)">
                      <i class="fa fa-pencil cursor-pointer"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>

              <pagination
                *ngIf="requestService.paginationConfig.totalItems > requestService.paginationConfig.perPage"
                [totalItems]="requestService.paginationConfig.totalItems"
                [maxSize]="requestService.paginationConfig.paginationMaxSize"
                [itemsPerPage]="requestService.paginationConfig.perPage"
                (pageChanged)="pageChanged($event)">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalShown" [config]="{show: true, ignoreBackdropClick: true }" (onHidden)="onHidden()" bsModal
     #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog"
       [ngClass]="requestType === 'delete' ? 'gray modal-sm' : requestType === 'view'  ? 'gray modal-lg' : ''">
    <div class="modal-content">
      <div class="modal-header" *ngIf="requestType != 'delete'">
        <h4 class="modal-title pull-left" *ngIf="requestType == 'add'">Create Languages</h4>
        <h4 class="modal-title pull-left" *ngIf="requestType == 'view'">View Languages</h4>
        <h4 class="modal-title pull-left" *ngIf="requestType == 'edit'">Edit Languages</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="autoShownModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="requestType == 'add' || requestType == 'edit'">
        <form [formGroup]="modalForm">

              <div class="form-group mb-4">
                <label for="title">Title <strong class="text-danger">*</strong></label>
                <input formControlName="title" class="form-control" id="title" type="text"
                       placeholder="Enter your title">

                <div class="invalid-message" *ngIf="modalForm.get('title').hasError('required') && (modalForm.get('title').dirty || modalForm.get('title').touched)">
                  Please enter your Title.
                </div>

                <div class="invalid-message" *ngIf="modalForm.get('title').hasError('minlength') && (modalForm.get('title').dirty || modalForm.get('title').touched)">
                  The Title minimum 3 symbol.
                </div>
              </div>

              <div class="form-group mb-4">
                <label for="code">Code <strong class="text-danger">*</strong></label>
                <input formControlName="code" class="form-control" id="code" type="text"
                       placeholder="Enter your code">

                <div class="invalid-message" *ngIf="modalForm.get('code').hasError('required') && (modalForm.get('code').dirty || modalForm.get('code').touched)">
                  Please enter your Code.
                </div>

                <div class="invalid-message" *ngIf="modalForm.get('code').hasError('minlength') && (modalForm.get('code').dirty || modalForm.get('code').touched)">
                  The Code minimum 3 symbol.
                </div>
              </div>


          <div class="form-group p-0">
            <div class="upload-image">
              <label for="chooseFile2" class="chooseFile2">
                <img *ngIf="!imageValue && !editImagePath"  style="height: 100px; min-width: 110px;" src="{{imagePath}}" alt="Image">
                <img *ngIf="imageValue || editImagePath" height="100px" style="max-width: 100%; min-width: 110px;" src="{{imageValue ? imageValue : editImagePath}}" alt="Image">
                <p class="text-center mt-1 mb-0">Upload image</p>
              </label>

              <input style="display: none" type="file" formControlName="image" accept="image/x-png,image/gif,image/jpeg"
                     (change)="fileUpload($event)" name="chooseFile" id="chooseFile2">

              <div class="invalid-message"
                   *ngIf="modalForm.get('image').hasError('required') && (modalForm.get('image').dirty || modalForm.get('image').touched)">
                Please upload image
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="requestType == 'edit' ">
            <p class="mb-2">Status</p>
            <label class="switch switch-label switch-outline-primary-alt">
              <input formControlName="status" class="switch-input" type="checkbox" checked="">
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
          </div>


          <button class="btn btn-success float-right" [disabled]="modalForm.invalid" type="submit"
                  (click)="formSubmit(modalForm.value)">Save
          </button>
          <button type="button" class="btn btn-secondary float-right mr-2" (click)="autoShownModal.hide()">Close
          </button>
        </form>
      </div>

      <div class="modal-body" *ngIf="requestType == 'view'">
        <div *ngIf="viewUsersData">
          <img src="{{viewUsersData?.image?.url}}" style="max-width: 100%; max-height: 350px;" alt="Image">
          <div class="column-size">
            <p><b>Title:</b> {{viewUsersData?.title}}</p>
            <p><b>Code:</b> {{viewUsersData?.code}}</p>
            <p><b>Status:</b> {{viewUsersData?.status ? 'Active': 'Inactive'}}</p>
          </div>
        </div>
        <button type="button" class="btn btn-secondary float-right mr-2" (click)="autoShownModal.hide()">Close</button>
      </div>

      <div class="modal-body" *ngIf="requestType == 'delete'">
        <p class="deletetext">Are you sure to delete this item?</p>
        <div class="text-center">
          <button class="btn btn-success mr-1" (click)="delete()">Yes</button>
          <button class="btn btn-danger ml-1" (click)="autoShownModal.hide()">No</button>
        </div>
      </div>

    </div>
  </div>
</div>
