.content {
  height: 100vh;
  overflow-y: auto;
}
.content {
  padding: 24px;
}
.head-forum-view {
  border-bottom: 1px solid #F8DEE4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-forum-view i {
  color: #E37D93
}
.button-save {
  padding: 10px 30px;
  background: #E37D93 0% 0% no-repeat padding-box;  border-radius: 16px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  text-align: center;
  letter-spacing: 0.78px;
  color: #FEFBFC;
  font-size: 13px;
  margin-right: 8px;
  outline: none;
  transition: all 0.8s;
  border: none;
}
.button-style {
  padding: 8px 16px;
  background: var(--unnamed-color-fbeff2) 0% 0% no-repeat padding-box;
  border-radius: 16px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  letter-spacing: var(--unnamed-character-spacing-0-78);
  color: #E37D93;
  font-size: 13px;
  text-align: center;
  margin-right: 8px;
  outline: none;
  transition: all 0.8s;
  border: none;
}
.button-style:hover {
  background: #F8DEE4 0% 0% no-repeat padding-box;
}
.button-save:hover {
  background: #DC5D78 0% 0% no-repeat padding-box;
}
.content::-webkit-scrollbar {
  width: 2px;
  top: 2px;
}
.user-image {
  width: 144px;
  height: 144px;
  object-fit: cover;
  border-radius: 50%;
}
.info_content {
  padding-left: 24px;
}
.name {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.36px;
  color: #230D2C;
  padding-top: 38px;
  margin: 0;
}
.action_icon {
  padding-bottom: 4px;
}
.action-attach-hover {
  display: none;
}
.action_icon:hover .action-attach-hover {
  display: inline;
}
.action_icon:hover .action-attach {
  display: none;
}
.action-attach, .action-attach-hover{
  width: 16px;
  height: 16px;
}
.content span {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.78px;
  color: #A79EAA;
  padding-left: 9px;
}
.info_desc {
  padding: 24px 20px 20px 20px;
}
.info_desc span {
  padding: 0;
}
.info_desc p, .motivation-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.36px;
  color: #230D2C;
  padding-top: 11px;
}
