<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconAlternate1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlternate1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>YES</string>
			</dict>
			<key>AppIconAlternate2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlternate2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>YES</string>
			</dict>
			<key>AppIconAlternate3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlternate3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>example.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need to use your camera to take avatar</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>SafeYou uses location in order to provide maximum effective support in case of emergency</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SafeYou uses location in order to provide maximum effective support in case of emergency</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Safe wants to use your microphone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We would like to use your photos to make gallery view for your browsing</string>
	<key>UIAppFonts</key>
	<array>
		<string>HayRoboto-Thin.ttf</string>
		<string>HayRoboto-Bold.ttf</string>
		<string>HayRoboto-ThinItalic.ttf</string>
		<string>HayRoboto-BoldItalic.ttf</string>
		<string>HayRoboto-Regular.ttf</string>
		<string>HayRoboto-Light.ttf</string>
		<string>HayRoboto-Medium.ttf</string>
		<string>HayRoboto-Black.ttf</string>
		<string>HayRoboto-LightItalic.ttf</string>
		<string>HayRoboto-Italic.ttf</string>
		<string>HayRoboto-Normal.ttf</string>
		<string>HayRoboto-MediumItalic.ttf</string>
		<string>HayRoboto-BlackItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchViewController</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
