<div class="bg-image">
  <div class="login-block">
    <div class="form-block">
      <h3 class="text-center">{{helperService?.loginTranslations?.forgot_password_title}}</h3>
      <p>{{helperService?.loginTranslations?.forgot_password_description}}</p>
  <div [@openClose]="show ? 'openButton' : 'closedButton'">
    <form class="data-form"  [formGroup]="forgotPhone" (ngSubmit)="forgotPhoneForm()">

      <div>
        <label for="phone" [ngClass]="(forgotPhone.controls.phone?.invalid && (forgotPhone.controls.phone?.dirty || forgotPhone.controls.phone?.touched)) ? 'invalid-label-color' : ''">{{helperService?.loginTranslations?.phone}} *</label>
        <input type="text" id="phone" name="phone" formControlName="phone">
        <div class="error-message">
          <span *ngIf="forgotPhone.controls.phone?.errors?.required && (forgotPhone.controls.phone?.dirty || forgotPhone.controls.phone?.touched)">{{helperService?.loginTranslations?.phone_required}}</span>
          <span *ngIf="forgotPhone.controls.phone?.errors?.pattern && (forgotPhone.controls.phone?.dirty || forgotPhone.controls.phone?.touched)">{{helperService?.loginTranslations?.invalid_phone}}</span>
        </div>
      </div>

      <div class="button-block">
        <button type="submit">{{helperService?.loginTranslations?.send}}</button>
      </div>
    </form>
  </div>
      <div [@openClose]="!show ? 'openButton' : 'closedButton'" >
        <form class="data-form" [formGroup]="forgotEmail" (ngSubmit)="forgotForm()">

          <div>
            <label for="email" [ngClass]="(forgotEmail.controls.email?.invalid && (forgotEmail.controls.email?.dirty || forgotEmail.controls.email?.touched)) ? 'invalid-label-color' : ''">{{helperService?.loginTranslations?.email}} *</label>
            <input type="text" id="email" name="email" formControlName="email">
            <div class="error-message">
              <span *ngIf="forgotEmail.controls.email?.errors?.required && (forgotEmail.controls.email?.dirty || forgotEmail.controls.email?.touched)">{{helperService?.loginTranslations?.email_required}} </span>
              <span  *ngIf="forgotEmail.controls.email?.errors?.pattern && (forgotEmail.controls.email?.dirty || forgotEmail.controls.email?.touched)">{{helperService?.loginTranslations?.invalid_phone_email}}</span>
            </div>
          </div>

          <div class="button-block">
            <button type="submit">{{helperService?.loginTranslations?.send}}</button>
          </div>
        </form>
      </div>



      <div [@openClose]="show ? 'openButton' : 'closedButton'">
        <div class="navigation-block">
          <div (click)="show = false" class="d-inline-block position-relative hover-state">
            <a routerLink="/forgot-password">{{helperService?.loginTranslations?.forgot_phone}}</a>
            <span>{{helperService?.loginTranslations?.forgot_phone}}</span>
          </div>
        </div>
      </div>

      <div [@openClose]="!show ? 'openButton' : 'closedButton'">
        <div class="navigation-block">
          <div (click)="show = true" class="d-inline-block position-relative hover-state">
            <a routerLink="/forgot-password">{{helperService?.loginTranslations?.forgot_email}}</a>
            <span>{{helperService?.loginTranslations?.forgot_email}}</span>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <div class="go-login-block text-center">
        <div class="d-inline-block position-relative hover-state">
          <a routerLink="/login">{{helperService?.loginTranslations?.enter}}</a><br>
          <span>{{helperService?.loginTranslations?.enter}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
