<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <span class="pt-1 pb-1">Forum</span>
        <span *ngIf="searchMessage">/ {{searchMessage}}</span>
        <button class="btn btn-danger pt-1 pb-1" *ngIf="clickSearch != undefined && searchMessage" [disabled]="searchForm.invalid"
                type="button" style="margin-left: 11px"
                (click)="searchReset()">Reset
        </button>
        <button *ngIf="access.indexOf('create') != -1" class="btn btn-primary float-right pt-1 pb-1" (click)="showModal('add')">Add</button>
      </div>
      <div class="card-body">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12">

              <no-result *ngIf="tableData && tableData['message']"></no-result>

              <table *ngIf="tableData && !tableData['message']" class="table table-bordered table-striped table-sm indexTable" style="border-collapse: collapse !important">
                <thead>
                <tr role="row">
                  <th>Title</th>
                  <th>Sub Title</th>
                  <th>Description</th>
                  <th>Short Description</th>
                  <th style="width: 55px">Image</th>
                  <th style="width: 65px">Status</th>
                  <th style="width: 115px">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" class="odd" *ngFor="let data of tableData, let i = index">
                  <td> {{data?.translations[0]?.title}} </td>
                  <td> {{data?.translations[0]?.sub_title}} </td>
                  <td> {{data?.translations[0]?.description}}</td>
                  <td> {{data?.translations[0]?.short_description}} </td>
                  <td style="text-align: center;"><img style="width: 35px; max-height: 50px" src="{{data?.image?.url}}"/></td>
                  <td>
                    <span *ngIf="data?.status == 1" class="badge badge-success">Active</span>
                    <span *ngIf="data?.status == 0" class="badge badge-secondary">Inactive</span>
                  </td>


                  <td class="actions">
                    <a routerLink="{{data.id}}" class="forum-data">
                      <i class="fa fa-comments-o cursor-pointer"></i>
                    </a>
                    <a *ngIf="access.indexOf('view') != -1" (click)="showModal('view' , data.id)">
                      <i class="fa fa-eye cursor-pointer"></i>
                    </a>
                    <a *ngIf="access.indexOf('edit') != -1"
                       (click)="showModal('edit', data.id)">
                      <i class="fa fa-pencil cursor-pointer"></i>
                    </a>
                    <a  *ngIf="access.indexOf('delete') != -1"
                       (click)="showModal('delete', data.id)">
                      <i class="fa fa-close cursor-pointer"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <pagination
          *ngIf="requestService.paginationConfig.totalItems > requestService.paginationConfig.perPage"
          [totalItems]="requestService.paginationConfig.totalItems"
          [maxSize]="requestService.paginationConfig.paginationMaxSize"
          [itemsPerPage]="requestService.paginationConfig.perPage"
          (pageChanged)="pageChanged($event)">
        </pagination>
      </div>
    </div>
  </div>
</div>

<div class="ui-theme-settings" id="div">
  <button type="button" id="TooltipDemo" class="btn-open-options btn"
          [ngClass]="searchMessage ? 'search_green' : ''" (click)="openLayout()">
    <i class="fa fa-w-16 search_icon" [ngClass]="searchMessage ? 'fa-check-square-o' : 'fa-search'"></i>
  </button>
  <div class="theme-settings__inner">
    <div class="scrollbar-container">
      <div class="theme-settings__options-wrapper" style="padding: 11px;">
        <h5 style="color: #73818f">Search</h5>
        <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="title_search">Title</label>
                <input formControlName="title" class="form-control search_form" id="title_search" type="text"
                       placeholder="Enter title">
                <div class="invalid-message"
                     *ngIf="searchForm.get('title').hasError('maxlength') && (searchForm.get('title').dirty || searchForm.get('title').touched)">
                  Invalid character count
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="sub_title_search">Sub title</label>
                <input formControlName="sub_title" class="form-control search_form" id="sub_title_search" type="text"
                       placeholder="Enter sub title">
                <div class="invalid-message"
                     *ngIf="searchForm.get('sub_title').hasError('maxlength') && (searchForm.get('sub_title').dirty || searchForm.get('sub_title').touched)">
                  Invalid character count
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="description_search">Description</label>
                <input formControlName="description" class="form-control search_form" id="description_search" type="text"
                       placeholder="Enter description">
                <div class="invalid-message"
                     *ngIf="searchForm.get('description').hasError('maxlength') && (searchForm.get('description').dirty || searchForm.get('description').touched)">
                  Invalid character count
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="short_description_search">Short description</label>
                <input formControlName="short_description" class="form-control search_form" id="short_description_search" type="text"
                       placeholder="Enter short description">
                <div class="invalid-message"
                     *ngIf="searchForm.get('short_description').hasError('maxlength') && (searchForm.get('short_description').dirty || searchForm.get('short_description').touched)">
                  Invalid character count
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <p style="font-weight: 400; margin-bottom: 4px;">Status</p>
                <div style="display: flex">
                  <label class="container_checkbox info_checkbox">Inactive
                    <input type="checkbox" formControlName="status"
                           value="'0'"
                           [checked]="currentlyCheckedStatus === check_box_typeStatus.Inactive"
                           (click)="selectCheckBox(check_box_typeStatus.Inactive)">
                    <span class="checkmark"></span>
                  </label>
                  <label class="container_checkbox success_checkbox">Active
                    <input type="checkbox" formControlName="status"
                           value="'1'"
                           [checked]="currentlyCheckedStatus === check_box_typeStatus.Active"
                           (click)="selectCheckBox(check_box_typeStatus.Active)">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-info text-white" [disabled]="searchForm.invalid" type="submit">Search</button>
            <button class="btn btn-danger" *ngIf="clickSearch != undefined" [disabled]="searchForm.invalid"
                    type="button" style="margin-left: 11px"
                    (click)="searchReset()">Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #childModal="bs-modal" [config]="{ ignoreBackdropClick: true }" (onHidden)="onHidden()" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog" [ngClass]="requestType === 'delete' ? 'gray modal-sm' : requestType === 'view'  ? 'gray modal-lg' : 'gray modal-lg'">
    <div class="modal-content">
      <div class="modal-header" *ngIf="requestType != 'delete'">
        <h4 class="modal-title pull-left" *ngIf="requestType == 'edit'">Edit Forum</h4>
        <h4 class="modal-title pull-left" *ngIf="requestType == 'add'">Add Forum</h4>
        <h4 class="modal-title pull-left" *ngIf="requestType == 'view'">View Forum</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" *ngIf="requestType == 'view'">
        <img *ngIf="viewData" style="max-width: 100%; max-height: 350px;" src="{{viewData?.image?.url}}" alt="image"/>
        <div class="column-size">
          <div *ngFor="let item of viewData['translations']">
            <p><b>Title {{item?.language.code}}:</b> {{item?.title}}</p>
            <p><b>Sub Title {{item?.language.code}}:</b> {{item?.title}}</p>
            <p><b>Short Description {{item?.language.code}}:</b> {{item?.short_description}}</p>
          </div>
        </div>
        <div>
          <div *ngFor="let item of viewData['translations']">
            <p><b>Description {{item?.language.code}}:</b> <span [innerHTML]="item?.description"></span></p>
          </div>
          <div class="column-size">
            <p><b>Comment count:</b> {{viewData?.discussions_count}}</p>
            <p><b>Status:</b> {{viewData?.status ? 'Active': 'Inactive'}}</p>
          </div>
        </div>
        <button type="button" class="btn btn-secondary float-right mr-2" (click)="hideChildModal()">Close</button>
      </div>

      <div class="modal-body" *ngIf="requestType == 'add' || requestType == 'edit'">
        <form [formGroup]="modalForm">

          <div  [formGroupName]="'translations'">
            <div class="form-group" *ngFor="let trans of objectKeys(modalForm.get('translations')['controls']), let i = index">
              <tabset #staticTabs [formGroupName]="trans">
                <tab *ngFor="let item of objectKeys(modalForm.get('translations')['controls'][trans]['controls']), let j = index" >
                  <ng-template tabHeading><img style="max-width: 35px;" src="{{languageTranslations[j].image.url}}" alt=""> {{languageTranslations[j].code}} / {{languageTranslations[j].title}}</ng-template>
                  <div class="form-group">
                    <label for="translations.en.title">{{titleKeys[trans]}} <strong class="text-danger">*</strong></label>
                    <textarea *ngIf="trans != 'description'" [formControlName]="item" type="text" class="form-control" id="translations.en.title" placeholder="Enter your {{titleKeys[trans]}}">
                    </textarea>
                    <ckeditor *ngIf="trans == 'description'" [config]="requestService.ckEditorConfig" [formControlName]="item"></ckeditor>
                    <div class="invalid-message" *ngIf="modalForm.get('translations').get(trans).get(item).hasError('required') && (modalForm.get('translations').get(trans).get(item).dirty || modalForm.get('translations').get(trans).get(item).touched)">
                      Please enter your {{titleKeys[trans]}}.
                    </div>

                    <div class="invalid-message" *ngIf="modalForm.get('translations').get(trans).get(item).hasError('minlength') && (modalForm.get('translations').get(trans).get(item).dirty || modalForm.get('translations').get(trans).get(item).touched)">
                      The {{titleKeys[trans]}} minimum 3 symbol.
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>

          <div class="form-group p-0">
            <div class="upload-image">
              <label for="chooseFile2" class="chooseFile2">
                <img *ngIf="!imageValue && !editImagePath"  style="height: 100px" src="{{imagePath}}" alt="Image">
                <img *ngIf="imageValue || editImagePath" height="100px" style="max-width: 100%" src="{{imageValue ? imageValue : editImagePath}}" alt="Image">
                <p class="text-center mt-1 mb-0">Upload image <span class="text-danger">*</span></p>
              </label>

              <input style="display: none" type="file" formControlName="image" accept="image/x-png,image/gif,image/jpeg"
                     (change)="onFileChanged($event)" name="chooseFile" id="chooseFile2">

              <div class="invalid-message"
                   *ngIf="modalForm.get('image').hasError('required') && (modalForm.get('image').dirty || modalForm.get('image').touched)">
                Please upload image
              </div>
            </div>
          </div>

          <div class="form-group">
            <p class="mb-2">Status</p>
            <label class="switch switch-label switch-outline-primary-alt">
              <input formControlName="status" class="switch-input" type="checkbox" checked="">
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
          </div>

          <button class="btn btn-success float-right" [disabled]="modalForm.invalid" (click)="formSubmit(modalForm.value)">Save</button>
          <button type="button" class="btn btn-secondary float-right mr-2" (click)="hideChildModal()">Close</button>

        </form>
      </div>

      <div class="modal-body" *ngIf="requestType == 'delete'">
        <p class="deletetext">Are you sure to delete this item?</p>
        <div class="deletebutton">
          <button class="btn btn-danger mr-1" (click)="delete()">Yes</button>
          <button class="btn btn-primary ml-1" (click)="childModal.hide()">No</button>
        </div>
      </div>

    </div>
  </div>
</div>
