.btn-no {
  padding: .460rem 1.75rem;
  font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  text-align: center;
  letter-spacing: 0.78px;
  color: #E37D93;
  font-size: 13px;
  margin-right: 4px;
  background: #FBEFF2 0% 0% no-repeat padding-box;
  border-radius: 16px;
  border: transparent;
  transition: background-color 0.3s;
}
.btn-yes {
  padding: .460rem 1.75rem;
  font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  text-align: center;
  letter-spacing: 0.78px;
  color: #FEFBFC;
  font-size: 13px;
  margin-right: 4px;
  background: #E37D93 0% 0% no-repeat padding-box;
  border-radius: 16px;
  border: transparent;
  transition: background-color 0.3s;
}
.btn-yes:hover {
  background: #DC5D78 0% 0% no-repeat padding-box;
}
.btn-no:hover {
  background: #F8DEE4 0% 0% no-repeat padding-box;
}
p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-hayroboto);
  letter-spacing: 0.36px;
  color: #230D2C;
}
