.content {
  /*width: 558px;*/
  box-shadow: 23px 0px 50px 1px #aaaaaa;
  height: 100vh;
  overflow-y: auto;
}
.content-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  border-bottom: 1px solid #F8DEE4;
  background: #FEFBFC 0% 0% no-repeat padding-box;
}
.content-body {
  padding: 24px 24px 0;
}
.close-button-btn {
  color: #E37D93;
}
.button-style {
  padding: 7.5px 16px;
  background: var(--unnamed-color-fbeff2) 0% 0% no-repeat padding-box;
  border-radius: 16px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  letter-spacing: var(--unnamed-character-spacing-0-78);
  color: #E37D93;
  font-size: 13px;
  font-weight: 600;
  outline: none;
  transition: all 0.8s;
  border: none;
}
.button-style:hover {
  background: #F8DEE4 0% 0% no-repeat padding-box;
}
.profile-block {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.image-block {
  position: relative;
  margin-right: 16px;
}
.user-image{
  width: 144px;
  height: 144px;
  object-fit: cover;
  border-radius: 50%;
}
.user-edit-icon {
  position: absolute;
  right: 0;
}
.profile-info h4 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.45px;
  color: #230D2C;
}
.profile-info p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.78px;
  color: #A79EAA;
}
.user-info-block {
  padding: 0 23px;
  margin-top: 26px;
}
.location-info-block p{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.78px;
  color: #A79EAA;
}
.icon-style{
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-right: 10px;
}
.user-contacts-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user-contact-info {
  width: 50%;
  margin-bottom: 16px;
}
.user-title-style {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.78px;
  color: #A79EAA;
  margin-bottom: 0;
}
.for-person-block {
  margin-top: 40px;
}
.for-person-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.29px;
  color: #A79EAA;
  margin-bottom: 11px;
}
.for-person-description {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-hayroboto);
  text-align: left;
  letter-spacing: 0.36px;
  color: #230D2C;
}
.content::-webkit-scrollbar {
  width: 3px;
}
.content::-webkit-scrollbar-track {
  background-color: #E37D93;
}
.content::-webkit-scrollbar-thumb {
  background: #fff;
  height: 10px;
}
