<div class="form-block">
  <div class="form-block-size border p-4 bg-white" *ngIf="access.indexOf('view') != -1">
    <form [formGroup]="form">
      <div class="form-group p-0">
        <div class="upload-image">
          <label for="chooseFile2">
            <img *ngIf="!imageValue && !editImagePath" title="Click to change image"  style="height: 100px" src="{{imagePath}}" alt="Image">
            <img *ngIf="imageValue || editImagePath" height="100px" style="max-width: 100%" title="Click to change image" src="{{imageValue ? imageValue : editImagePath}}" alt="Image">

          </label>

          <input style="display: none" type="file" formControlName="image" title="Click to change image" accept="image/x-png,image/gif,image/jpeg"
                 (change)="fileUpload($event)" name="chooseFile" id="chooseFile2">

          <div class="invalid-message"
               *ngIf="form.get('image').hasError('required') && (form.get('image').dirty || form.get('image').touched)">
            Please upload image
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group mb-4">
            <label for="first_name">First name <strong class="text-danger">*</strong></label>

            <input [formControlName]="'first_name'" id="first_name" placeholder="First name"
                   class="form-control">
            <div class="invalid-message"
                 *ngIf="form.get('first_name').hasError('required') && (form.get('first_name').dirty || form.get('first_name').touched)">
              Please enter your First name
            </div>

            <div class="invalid-message"
                 *ngIf="form.get('first_name').hasError('minlength') && (form.get('first_name').dirty || form.get('first_name').touched)">
              The First name minimum 3 symbol.
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="nickname">Nickname </label>
            <input formControlName="nickname" class="form-control" id="nickname" type="text" placeholder="Enter your nickname">

            <div class="invalid-message" *ngIf="form.get('nickname').hasError('required') && (form.get('nickname').dirty || form.get('nickname').touched)">
              Please enter your Nickname.
            </div>

            <div class="invalid-message" *ngIf="form.get('nickname').hasError('minlength') && (form.get('nickname').dirty || form.get('nickname').touched)">
              The Nickname minimum 2 symbol.
            </div>
          </div>

          <div class="form-group mb-4">
            <label for="email">Email <strong class="text-danger">*</strong></label>
            <input formControlName="email" class="form-control" id="email" type="text" placeholder="Enter your Email">

            <div class="invalid-message" *ngIf="form.get('email').hasError('required') && (form.get('email').dirty || form.get('email').touched)">
              Please enter your email address.
            </div>

            <div class="invalid-message" *ngIf="form.get('email').hasError('pattern') && (form.get('email').dirty || form.get('email').touched)">
              Invalid email.
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="form-group mb-4">
            <label for="last_name">Last name <strong class="text-danger">*</strong></label>

            <input [formControlName]="'last_name'" id="last_name" placeholder="Last name"
                   class="form-control">
            <div class="invalid-message"
                 *ngIf="form.get('last_name').hasError('required') && (form.get('last_name').dirty || form.get('last_name').touched)">
              Please enter your Last name
            </div>

            <div class="invalid-message"
                 *ngIf="form.get('last_name').hasError('minlength') && (form.get('last_name').dirty || form.get('last_name').touched)">
              The Last name minimum 3 symbol.
            </div>
          </div>

          <div class="form-group mb-4">
            <label for="phone">Phone <strong class="text-danger">*</strong></label>
            <input [formControlName]="'phone'" type="text" class="form-control" id="phone" placeholder="Phone">

            <div class="invalid-message"
                 *ngIf="form.get('phone').hasError('required') && (form.get('phone').dirty || form.get('phone').touched)">
              Please enter your Phone.
            </div>

            <div class="invalid-message"
                 *ngIf="form.get('phone').hasError('minlength') && (form.get('phone').dirty || form.get('phone').touched)">
              The Phone number minimum 9 symbol.
            </div>
            <div class="invalid-message"
                 *ngIf="form.get('phone').hasError('pattern') && (form.get('phone').dirty || form.get('phone').touched)">
              The Phone number is invalid.
            </div>
          </div>


        </div>

        <div formGroupName="passwordsGroup" class="col-12">
          <div class="row">
            <div class="col-6">
              <div class="form-group mb-3">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" formControlName="password"/>
                <div class="invalid-message" *ngIf="passwordsGroup.get('password').hasError('required') && (passwordsGroup.get('password').dirty || passwordsGroup.get('password').touched)">
                  Password is required
                </div>

                <div class="invalid-message" *ngIf="passwordsGroup.get('password').hasError('minlength') && (passwordsGroup.get('password').dirty || passwordsGroup.get('password').touched)">
                  Password Minimum 8 symbol
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mb-3">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirm_password"/>

                <div class="invalid-message" *ngIf="passwordsGroup.get('confirm_password').hasError('required') && (passwordsGroup.get('confirm_password').dirty || passwordsGroup.get('confirm_password').touched)">
                  Conform Password is required
                </div>

                <div class="invalid-message" *ngIf="passwordsGroup.get('confirm_password').hasError('minlength') && (passwordsGroup.get('confirm_password').dirty || passwordsGroup.get('confirm_password').touched)">
                  Conform Password Minimum 8 symbol
                </div>
                <div style="display: inline-block">
                  <div class="invalid-message" *ngIf="passwordsGroup.hasError('notSame')">
                    Conform Passwords don't Match
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <button *ngIf="access.indexOf('edit') != -1" class="btn btn-primary float-right" [disabled]="form.invalid" (click)="formSubmit(form.value)">Save</button>
    </form>
  </div>
</div>
<ngx-alerts></ngx-alerts>
