body {
  margin: 0px;
}
.bg-no {
  background: url("../../../assets/images/Page_Under_Construction.png")no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.wrapper {
  min-width: 320px;
  background-color: #FDFAFE;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 786px;
}
.container {
  width: 92%;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #E5C6EF;
}
.header-image {
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 190px;
}
.header-title {
  color: #1D1D1D;
  font-family: inherit;
}
.header-description {
  color: #D8AEE4;
  font-family: inherit;
}
.social-images-block {
  position: relative;
  width: 30%;
  min-width: 75px;
}
.social-block {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
.social-block img{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.social-block img:nth-child(2){
  left: 17px;
}
.social-block img:nth-child(3){
  left: 32px;
}
.social-icons-title {
  color: #1D1D1D;
  font-size: 17px;
  font-family: 'Roboto', Regular;
  line-height: 22px;
}
.chat-block {
  border-radius: 6px 6px 24px 6px;
  box-shadow: 0px 3px 6px #D5D5D5;
  background-color: #fff;
  padding: 5px;
  box-sizing: border-box;
  margin: 15px 0 6px 0;
}
.chat-info {
  display: flex;
  padding-top: 10px;
}
.chat-image {
  min-width: 50px;
}
.chat-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user-name {
  margin: 0px;
  font-size: 16px;
  color: #1D1D1D;
  font-family: 'Roboto', Bold;
  line-height: 21px;
}
.user-detail {
  font-size: 12px;
  font-family: 'Roboto', Regular;
  color: #FE0000;
  line-height: 28px;
}
.user-block-text {
  font-size: 17px;
  font-family: 'Roboto', Regular;
  color: #000000;
  line-height: 28px;
}
.chat-setting {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.chat-reply {
  color: #9834B7;
  font-size: 12px;
  font-family: 'Roboto', Regular;
}
.chat-date {
  color: #b102e6;
  font-size: 12px;
  font-family: 'Roboto', Regular;
}
.chat-response {
  width: 92%;
  /*margin-left: auto;*/
  border-radius: 6px 6px 6px 24px;
  box-shadow: 0px 3px 6px #D5D5D5;
  padding: 5px;
  box-sizing: border-box;
  margin: 15px 0px 6px auto;
}
.my_comment {
  background-color: #F8EFFB;
}
.chat-response-info {
  display: flex;
  padding-top: 10px;
}
.chat-response-title {
  margin: 0px 0px 0px 50px;
  color: #1D1D1D;
  font-size: 12px;
  font-family: 'Roboto', Regular;

}
.load-more {
  text-align: center;
  color: #DCB1E9;
  font-size: 12px;
  font-family: 'Roboto', Light;
  margin-bottom: 12px;
}
.send-message {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.send-button {
  vertical-align: top;
  margin-top: 8px;
  display: inline-block;
  margin-left: 20px;
}
.input-message::placeholder {
  color: #9834B7;
  font-size: 17px;
  font-family: 'Roboto', Regular;
  padding-top: 5px;
}
.input-message:active, .input-message:focus {
  outline: none;
}

.input-message::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.input-message::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey;*/
  /*border-radius: 10px;*/
}

/* Handle */
.input-message::-webkit-scrollbar-thumb {
  /*background: #fff;*/
  /*border-radius: 10px;*/
}

/* Handle on hover */
.input-message::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.send-message form {
  width: 100%;
}
.consultant_check {
  color: #ffffff;
  background-color: #9834B7;
  margin-left: 6px;
  border-radius: 50%;
  font-size: 7px;
  padding: 3px;
  margin-top: 4px;
  position: absolute;
}
.input-message {
  border: 1px solid #9834B7;
  min-height: 36px;
  width: 76%;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 5px 20px;
  max-height: 115px;
  overflow-y: auto;
  resize: none;
}
.reply_text {
  box-shadow: 0px 3px 6px #D5D5D5;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 13px;
}
.more_data {
  width: 92%;
  margin: 6px 0px 15px auto;
}
.reply_button {
  color: #ac00e2 !important;
  float: right;
  margin-top: -5px;
}
@media only screen and (min-width: 414px) {
  .info-block {
    max-width: 400px;
  }
  .input-message {
    width: 80%;
  }
}
@media only screen and (min-width: 600px) {
  .info-block {
    width: 48%;
    max-width: 100%;
  }
  .header-image {
    height: 250px;
  }
  .header-block {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .input-message {
    width: 90%;
  }
  .info-block {
    width: 32%;
    max-width: 100%;
  }
  .header-image {
    height: 350px;
  }
}
@media only screen and (min-width: 1025px) {
  .header-image {
    height: 650px;
  }
  .header-link {
    font-size: 16px;
  }
  .social-icon-text {
    font-size: 15px;
  }
}

//----------------------------
.bgimg {
  height: 450px;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
.send-button:focus {
  outline: none;
}
.input-message:active, .input-message:focus {
  border: 1px solid #9834b7 !important;
}
button:disabled {
  cursor: no-drop;
}
.reply_message {
  margin: 0 0 0px 10px !important;
  position: relative;
  top: -3px;
}
.reply_delete {
  margin-right: 8px;
  margin-top: 4px;
}
