<div class="" style="background-color: #FDFAFE;"  #scrollMe  *ngIf="this.tableData">

  <div class="header">
    <div class="container" style="padding-top: 10px;">
      <h1 class="header-title">{{this.tableData?.title}}</h1>
      <p class="header-description">{{this.tableData?.sub_title}}</p>
    </div>
  </div>
  <div class="content">
    <div class="container" style="width: 100%">
      <div>
        <div>

          <div>
            <div class="chat-block Id{{tableData.id}}">
              <div class="chat-info">
                <div class="chat-image">
                  <img src="/dist/assets/img/avatars/4.jpg" alt="image">
                </div>
                <div class="chat-info-block">
                  <h5 class="user-name">{{tableData.name}}
                    <i class="fa fa-check consultant_check" aria-hidden="true"></i>
                  </h5>
                  <span></span>
                  <p class="user-block-text">{{tableData.message}}</p>
                </div>
              </div>
            </div>
            <div class="chat-setting">
              <span class="chat-date">{{tableData.created_at | date: 'MMM d, y h:mm:ss a'}}</span>
            </div>
          </div>

          <div *ngFor="let key of tableData.reply, let i = index">
            <div class="chat-response Id{{tableData.id}}" [ngClass]="key.my == true ? 'my_comment' : ''">
              <div class="chat-response-info">
                <div class="chat-image">
                  <img src="{{key?.user?.image?.url}}" alt="image">
                </div>
                <div class="chat-info-block">
                  <h5 class="user-name">{{key.name}}
                    <i class="fa fa-check consultant_check" aria-hidden="true"></i>
                  </h5>
                  <span class="user-detail">{{key?.user_type}}</span>
                  <p class="user-block-text">{{key.message}}</p>
                </div>
              </div>
            </div>
            <div class="more_data">
              <div class="chat-setting">
                <span class="chat-date">{{key.created_at | date: 'MMM d, y h:mm:ss a'}}</span>
              </div>
            </div>
          </div>

          <div *ngIf="tableData.reply && tableData.reply.length > 2" class="more_data">
            <a style="color: #9834B7" class="cursor-pointer">{{tableData.reply.length}} Replies | View More Replies</a>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="send-message">

          <form [formGroup]="messageForm">
            <textarea formControlName="message" id="note" placeholder="Type a message ..." class="input-message"></textarea>
            <button [disabled]="messageForm.invalid" type="submit"
                    (click)="sendMessage(messageForm.value)" class="send-button"  style="border: 0; background: transparent">
              <img src="/upload/images/InputArrow.png" alt="send">
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
