.deletetext {
  text-align: center;
  font-size: 18px;
  //font-weight: 700;
}
/*Loader css start*/
.loading {
  width: 100%;
  height: 100%;
  background: #16171d;
  z-index: 99999;
  opacity: 0.25;
  position: fixed;
}

.loading > div {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
}

.loading > div > div {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #63c2de;
  top: 10px;
  left: 10px;
  transform-origin: 20px 20px;
  border-radius: 8px;
  animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading > div > .c2 {
  top: 10px;
  left: auto;
  right: 10px;
  transform-origin: -4px 20px;
  animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading > div > .c3 {
  top: auto;
  left: auto;
  right: 10px;
  bottom: 10px;
  transform-origin: -4px -4px;
  animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading > div > .c4 {
  top: auto;
  bottom: 10px;
  transform-origin: 20px -4px;
  animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes spin-a {
  0% {
    transform: rotate(90deg);
  }
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-b {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-c {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-d {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading > span {
  width: 100px;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: 30px;
  color: #63c2de;
  font-size: 12px;
  text-align: center;
}

/*loader css end*/
/*form border style start*/
.form-control {
  box-shadow: 0px 1px 5px #959595;
  padding: 10px;
}
.form-control:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.form-control.ng-invalid.ng-dirty,
.form-control.ng-invalid.ng-touched{
  border-color:#f86c6b;
}
.form-control.ng-valid.ng-dirty{
  border-color: #4dbd74
}
/*form border style end*/
.form-control {
  padding: 10px 15px;
  min-height: 45px;
}
.invalid-message {
  position: absolute;
  font-size: 12px;
  color: #ff0000;
  margin-top: 2px;
}
.invalid-feedback {
  display: block;
}

.no-results {
  text-align: center;
  margin: 15px;
}
.no-results i{
  font-size: 100px;
  margin-bottom: 30px;
}
.actions i {
  margin: 0 4px!important;
}
.cursor-pointer {
  cursor: pointer;
}
.navbar-brand-full {
  height: 100%;
  max-width: 100%;
}
.app-header {
  background-color: #2f353a;
  border-bottom: 1px solid #2f353a;
}
.navbar-nav .active>.nav-link, .navbar-nav .active>.nav-link:focus, .navbar-nav .active>.nav-link:hover, .navbar-nav .nav-link.active, .navbar-nav .nav-link.active:focus, .navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.open, .navbar-nav .nav-link.open:focus, .navbar-nav .nav-link.open:hover, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover, .navbar-nav .open>.nav-link, .navbar-nav .open>.nav-link:focus, .navbar-nav .open>.nav-link:hover {
  color: #fff;
}
.sidebar .nav-link {
  font-size: 15px;
}
.dataTables_wrapper .col-sm-12 {
  overflow-x: auto;
}
.indexTable tr td:not(.actions) {
  max-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
pagination ul {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}
.column-size {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  word-break: break-all;
}

.app-header .navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2373818f' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
.app-header .navbar-toggler:focus {
  outline: none;
}
.modal.in .modal-dialog {
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
  transition: transform .75s !important
}

.modal.fade .modal-dialog {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: transform .5s;
}
.rg-7 {
  right: 7%!important;
}
@media (max-width: 768px) {
  .rg-7 {
    width: 270px;
    max-width: 270px;
  }
}
@media (max-width: 450px) {
  .user_name {
    display: none;
  }
}
.header-fixed .app-header {
  background-color: #9834B7;
}
.sidebar {
  background-color: #9834B7;
}
.sidebar .nav-link .nav-icon {
  color: #e2e2e2;
}
.sidebar .nav-link.active {
  background-color: #7a2a92;
}
.navbar-nav .nav-link {
  color: #e3ecf5;
}
.app-header {
  border-bottom: 1px solid rgba(169, 75, 197, 0.55);
}
.sidebar-minimized .sidebar .sidebar-minimizer {
  background-color: #7a2a92;
}
.modal-header {
  background-color: #9834b7;
}
.modal-title {
  color: #fff;;
}
.fa-close {
  color: red;
}
.fa-pencil {
  color: blueviolet;
}
.fa-eye{
  color: #20a8d8;
}
.fa-phone {
  color: #259dc1;
}
.fa-volume-control-phone {
  color: #f36464;
}
.fa-microphone {
  color: gray;
}
.fa-comments-o {
  color: dimgray;
}
.card > .card-header > span {
  color: blueviolet;
}
.navbar-toggler:last-child {
  display: none !important;
}

.ui-theme-settings {
  position: fixed;
  z-index: 155;
  right: -30px;
  top: 0;
  height: 100vh;
  transform: translate(500px);
  transition: all .2s;
  box-shadow: -0.46875rem 0 2.1875rem rgba(4, 9, 20, 0.03), -0.9375rem 0 1.40625rem rgba(4, 9, 20, 0.03), -0.25rem 0 0.53125rem rgba(4, 9, 20, 0.05), -0.125rem 0 0.1875rem rgba(4, 9, 20, 0.03)
}

.ui-theme-settings .btn-open-options {
  border-radius: 50px;
  position: absolute;
  left: -78px;
  bottom: 65px;
  padding: 0;
  height: 40px;
  line-height: 54px;
  width: 40px;
  text-align: center;
  display: block;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  margin-top: -27px;
  color: #fff;
  background-color: #9834b7;
  border-color: transparent;
}
.settings-open .btn-open-options {
  left: -51px;
}
.ui-theme-settings .btn-open-options:hover,
.ui-theme-settings .btn-open-options:focus {
  color: #fff;
  background-color: #9834b7;
  border-color: transparent;
}
.ui-theme-settings .btn-open-options svg {
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -0.5em 0 0 -0.5em
}

.ui-theme-settings .theme-settings__inner {
  background: #fff;
  width: 500px;
  height: 100vh;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}
.is_verify {
  float: right;
  position: relative;
  top: -71px;
}
.search_div {
  position: relative;
  top: -71px;
}
@media (max-width: 1024px) {
  .ui-theme-settings {
    transform: translate(250px);
  }
  .ui-theme-settings .theme-settings__inner {
    width: 250px;
  }
  .is_verify {
    float: left;
    position: relative;
    top: -19px;
  }
  .search_div {
    position: relative;
    top: -30px;
  }
}
.ui-theme-settings.settings-open {
  transform: translate(0);
  right: 0;
  z-index: 99999;
}

.ui-theme-settings .theme-settings-swatches {
  text-align: center
}

.ui-theme-settings .themeoptions-heading {
  font-size: 1.1rem;
  color: #495057;
  margin: 0;
  background: #f8f9fa;
  padding: .75rem 1.5rem;
  border-bottom: #dee2e6 solid 1px;
  border-top: #dee2e6 solid 1px;
  display: flex;
  align-items: center;
  align-content: center
}

.ui-theme-settings .themeoptions-heading:first-child {
  border-top: 0
}
.fs-11 > a {
  font-size: 11px !important;
}
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 27px;
  padding-right: 6px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgba(225, 175, 241, 0.71);
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: rgba(225, 175, 241, 0.71);
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  background-color: green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sidebar .nav-dropdown.open>.nav-dropdown-items {
  //padding-left: 10px;
}
.sidebar .nav-dropdown-toggle::before {
  width:12px!important;
  height:12px !important;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E") !important;
}
.app-header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.sidebar .nav-dropdown.open>.nav-dropdown-items .ml_ft_14 {
  margin-left: 5px;
  font-size: 14px;
}
.sidebar  .nav-dropdown-items  .nav-link {
  font-size: 14px;
}
.search_form {
  min-height: 37px;
}
.search_green {
  background-color: green !important;
}
.search_icon {
  font-size: 22px;
  position: relative;
  bottom: 6px;
}
.info_checkbox {
  color: rgba(255, 0, 0, 0.7);
  font-weight: 600;
}
.success_checkbox {
  color: #04a228;
  font-weight: 600;
}
.danger_checkbox {
  color: #ff050a;
  font-weight: 600;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 6px);
}
.fa-check-square-o {
  bottom: 4px;
  right: -1px;
}
.close:not(:disabled):not(.disabled) {
  color: white;
  opacity: 1;
}
.modal-content {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.c-red {
  color: red
}
.border-none {
  border: none;
}
.mfe-3 {
  margin-right: 1rem!important;
}
.c-avatar {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50em;
  width: 36px;
  height: 36px;
  font-size: 14.4px;
}
.c-avatar-img {
  width: 100%;
  height: auto;
  border-radius: 50em;
}
.dropdown-notification {
  border: 0;
  box-shadow: 0 4px 5px 0 rgba(60,75,100,.14), 0 1px 10px 0 rgba(60,75,100,.12), 0 2px 4px -1px rgba(60,75,100,.2);
}
.dropdown-notification-item {
  padding: .5rem 1.25rem;
  display: flex;
  border-bottom: 1px solid #c8ced3;
}
.z-i-1 {
  z-index: 1;
}
.active_color {
  color: #4dbd74 !important;
}
.inactive_color {
  color: #d9534f !important;
}
.notification_heigth {
  height: 357px;
  overflow: auto
}
.view_all:hover {
  color: #9834B7;
}
.help-color {
  color: #9834B7;
}
.view_all_messages:hover {
  color: #fff !important;
}
