<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-body" *ngIf="requestService.userInfo.isSuperAdmin == 'true'">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12">

              <div class="bg-image">
                <div style="margin-bottom: 10px" *ngFor="let item of countryList, let i = index">
                  <button [disabled]="item.short_code == requestService.activeCountryCode"
                          [ngClass]="item.short_code == requestService.activeCountryCode ? 'my-button-style-active my-active-button' : 'my-button-style'" (click)="selectCountry(item.short_code)">
                    {{item.name}}
                  </button>
                </div>
              </div>

              <no-result *ngIf="countryList && countryList['message']"></no-result>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
