.bg-image {
  height: 100vh;
  background-image: url("../../../../assets/images/background-images/bg-splash.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-block {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-block {
  width: 400px;
  margin-top: 150px;
}
h3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-hayroboto);
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.36px;
  color: #230D2C;
  margin-bottom: 21px;
}
p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-hayroboto);
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.36px;
  color: #230D2C;
  margin-bottom: 37px;
}
input[type='password'] {
  border: 1px solid #F8DEE4;
  border-radius: 30px;
  width: 100%;
  height: 32px;
  padding-left: 10px;
}
input[type='password']:focus {
  border: 1px solid #F8DEE4;
  outline: none;
}
label {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-hayroboto);
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.26px;
  color: #A79EAA;
  margin-bottom: 4px;
  margin-left: 8px;
}
.button-block {
  text-align: center;
  margin-top: 55px;
}
.button-block button {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-hayroboto);
  font-size: 13px;
  letter-spacing: 0.78px;
  color: #FEFBFC;
  background-color: #E37D93;
  border-radius: 16px;
  padding: 6px 28px;
  border: none;
}
.button-block button:hover {
  background-color: #DC5D78 ;
}
.navigation-block {
  text-align: center;
  margin-top: 56px;
}
.line {
  margin: 50px auto;
  border-top: 1px solid #E37D93;
  width: 225px;
}
.navigation-block a, .go-login-block a{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-hayroboto);
  text-align: center;
  font-size:  12px;
  letter-spacing: 0.26px;
  color: #EA9DAE;
  text-decoration: none;
}
/*.navigation-block a:hover, .go-login-block a {*/
/*  color: #EA9DAE;*/
/*}*/



.hover-state a {
  opacity: 0;
  transition: opacity 0.6s;
  white-space: nowrap;
}
.hover-state span {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 4px;
  font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-hayroboto);
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.26px;
  color: #E37D93;
  white-space: nowrap;
  cursor: pointer;
  transition: top 0.6s, opacity 0.6s;
}
.hover-state:hover span{
  top: 40px;
  opacity: 0;
}
.hover-state:hover a {
  opacity: 1;
}
