<div class="bg-image">
  <div class="login-block">
    <div class="form-block">
      <h3 class="text-center">{{helperService?.loginTranslations?.forgot_password_title}}</h3>
      <div>
        <form class="data-form" [formGroup]="form" (ngSubmit)="forgotForm()"  autocomplete="off">
          <div>
            <label for="password"
                   [ngClass]="(form.controls.password?.invalid && (form.controls.password?.dirty || form.controls.password?.touched)) ? 'invalid-label-color' : ''">
              {{helperService?.loginTranslations?.new_password}} *
            </label>
            <input type="password" id="password" name="password" formControlName="password">
          </div>
          <div>
            <label for="confirm_password" [ngClass]="(form.controls.confirm_password?.invalid && (form.controls.confirm_password?.dirty || form.controls.confirm_password?.touched)) ? 'invalid-label-color' : ''">{{helperService?.loginTranslations?.confirm_new_password}} *</label>
            <input type="password" id="confirm_password" name="confirm_password" formControlName="confirm_password">
          </div>
          <div class="error-message">
            <span *ngIf="form.controls.password?.errors?.required && (form.controls.password?.dirty || form.controls.password?.touched)">{{helperService?.loginTranslations?.new_password_required}} <br></span>
            <span *ngIf="form.controls.confirm_password?.errors?.minlength && (form.controls.confirm_password?.dirty || form.controls.confirm_password?.touched)">{{helperService?.loginTranslations?.confirm_new_password_length}} <br></span>
            <span *ngIf="form.controls.password?.errors?.minlength && (form.controls.password?.dirty || form.controls.password?.touched)">{{helperService?.loginTranslations?.new_password_length}} <br></span>
            <span *ngIf="form.controls.confirm_password?.errors?.required && (form.controls.confirm_password?.dirty || form.controls.confirm_password?.touched)">{{helperService?.loginTranslations?.confirm_new_password_required}} </span>
            <span *ngIf="form.hasError('notSame')">
             {{helperService?.loginTranslations?.password_match}}
            </span>
          </div>

          <div class="button-block">
            <button type="submit">{{helperService?.loginTranslations?.send}}</button>
          </div>
        </form>
      </div>
      <div class="line"></div>
      <div class="go-login-block text-center">
        <div class="d-inline-block position-relative hover-state">
          <a routerLink="/login">{{helperService?.loginTranslations?.enter}}</a><br>
          <span>{{helperService?.loginTranslations?.enter}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
