.w3-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.w3-jumbo {
  font-size: 64px !important
}
.w3-center {
  text-align: center !important
}
.w3-border-white, .w3-hover-border-white:hover {
  border-color: #fff !important
}
.w3-animate-top {
  position: relative;
  animation: animatetop 0.4s
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}
.w3-animate-left {
  position: relative;
  animation: animateleft 0.4s
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}
.w3-animate-zoom {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
  background: transparent;
  color: red;
}
.bg{
  background-color: black;
  color: white;
  height: 100vh;
}
h1 {
  color: red;
}
h6{
  color: red;
  text-decoration: underline;
}
